body {background: rgb(173, 239, 248);}
    
li {list-style:none;}
     
li {font-size:20px;}

    .estilos-musicales_item {
    border-bottom:3px solid black;
}

.e1{font: size 20px;}
.e2 {font: size 30px;}
.e3 {font: size 40px;}
.e4 {font: size 50px;}
.e5{font: size 60px;}
.e6{font: size 70px;}
.e7 {font: size 80px;}



