*{
    padding: 0; margin: 0; box-sizing: border-box;
}


.einstein {
    background-image: url("../img/einstein.jpg");
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: rgb(48, 61, 61);
    padding: 4em 6em;
    display: flex; 
    align-items: flex-end;
}

.einstein__txt {
    background-color:rgb(111, 145, 145);
    font-size: 1.9rem ;
    padding: 1em  1.4em;
    width: 70%;
    transform:skew(-10deg)
}


@media screen and (max-width:600px) {
   
    html {
        font-size:80%
    }
    .einstein {
        padding:0;

    }
   
    .einstein__txt {
        width: 100%;
        transform:none;
    }
}