*{padding: 0; margin: 0; box-sizing: border-box;}


body {
    min-width: 100vh;
    background-color: black;
    padding:10px;
}


.container {
    display:grid;
    grid-template-columns: 0.5fr 1fr 1.5fr 2fr 3fr 2fr 1.5fr 1fr 0.5fr 
}

.grid__circulos, .grid__circulos--foto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    position: relative;
}

.grid__circulos--foto::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/mcenroe.jpg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    mix-blend-mode:darken;
    border-radius: inherit;
}


